
.texto{
    display: block;
    width: 400px;
    height: 50px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: 15px auto;
    background-color: rgb(30, 204, 137);


   

  

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   }
.texto:hover{
    display: block;
    width: 400px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: 15px auto;
    background-color: rgb(199, 191, 74);


    /*sup izq, sup der, inf der, inf izq*/
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius:  20px 20px 20px 20px;





    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);


    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   
}
.texto:active{
    display: block;
    width: 400px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: 15px auto;
    background-color: rgb(159, 18, 159);


    /*sup izq, sup der, inf der, inf izq*/
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius:  20px 20px 20px 20px;
    border-radius:  20px 20px 20px 20px;


    /*Con "inset" se pone una sombreado interior
    Con el signo del "10" controlas la rieccion d ela sombra*/
    -moz-box-shadow: rgb(0, 0, 0) -10px 15px 15px ;
    -webkit-box-shadow: rgb(0, 0, 0) -10px 15px 15px ;
    box-shadow: rgb(0, 0, 0) -10px 15px 15px ;




    -moz-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);


    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   
}